*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    color: white;
}
.top{
    width: 100%;
    height: 60px;
    position: fixed;
    border-bottom: 2px solid rgba(130,140,150,.1);
    z-index: 1000;
    background: black;
}
.logo{
    font-size: 20px;
    font-weight: 900;
    margin: 10px 0 0 30px;
    display: inline-block;
    width: 15%;
}
.search-form{
    position: absolute;
    top: 15px;
    left: 20%;
    width: 60%;
}
.search-form input{
    width: 90%;
    height: 30px;
    padding: 10px 0 10px 15px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 540;
    background: white;
    color: black;
}
.fa-search{
    position: relative;
    left: -33px;
    top: -2px;
    color: black !important;
    background: white;
}
.login{
    margin: 20px 20px 0 ;
    float: right;
}
.login ul li {
    display: inline;
}
.signin{
    padding: 10px;
}
.signup{
    background: orangered;
    padding: 8px 20px 8px 20px;
    border: none;
    border-radius: 15px;
    opacity: 0.9;
}
.signup i {
    margin-right: 14px;
    background: orangered;
}
.main{
    background: black;
    float: left;
    width: 100%;
    margin-top: 60px;
}
.left{
    float: left;
    padding: 20px 0 0 20px;
    width: 15%;
    height: 100%;
    border-right: 2px solid rgba(130,140,150,.1);
    overflow-y: auto;
    width: var(--side-width);
    flex-shrink: 0;
    position: fixed;
    z-index: 990;
    top: 60px;
    bottom: 0;
    overflow-y: hidden;
}
ul, a{
    text-decoration: none;
    list-style: none;
}
.left ul p {
    opacity: 0.5;
    font-size: 12px;
    padding-bottom: 10px;
}
.left ul li{
    opacity: 0.7;
}
.left ul li{
    padding: 0 0 20px 30px;
}

.left ul li i{
    color: orangered;
    height: 16px;
    padding-right: 15px;
}

.right{
    margin-left:15%;
    float: left;
    padding: 10px 0px 50px 0;
    width: 85%;
}

.footer{
    width: 60%;
    margin: 60px auto 0 auto;
    border-top: 1px solid rgba(130,140,150,.1);
    padding: 30px 0 0 10% ;
}
.footer p{
    font-size: 12px;
    opacity: 0.5;
}
.footer ul{
    margin-top: 20px ;
}
.footer ul li{
    opacity: 0.9;
    display: inline;
    font-size: 12px;
}

.music{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 60%;
    background: rgba(103, 132, 165, 0.1);
    height: 250px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}
.music figure{
    position: relative;
    width: 270px;
    border-radius: 4px;
    margin-left: 20px;
}
.music figure img{
    position: absolute;
    width: 90%;
    margin-top: -30px;
    border-radius: inherit;

}

.music header h1{
    margin-top: 5px;
}
.entry-infor{
    margin: 10px 0 10px 0;
    opacity: 0.7;
}

.entry-meta{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: inherit;
}
.play-count{
    display: flex;
    align-items: center;
}
.entry-meta button{
    border: none;
}
.play-count button {
    font-size: 38px;
    align-items: center;
    background: inherit;
}

.count{
    font-size: 18px;
    margin-left: 3px;
}
.btn-like{
    margin-left: 15px;
    align-items: center;
    background: inherit;
}
.btn-like i{
    font-size: 20px;
    color: white;
}
.entry-meta a{
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    margin-left: 20px;
    border-radius: 25px;
}
.station-copyright{
    background: inherit;
    color: #999;
    font-size: 11px;
}
.entry-content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 60%;
}
.entry-z{
    display: flex;
    align-items: center;
    margin-bottom: 20px ;
}
.entry-z img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.entry-z-cont{
    margin-left: 10px;
}
.entry-z-name{
    font-size: 24px;

}
.entry-z-cont div{
    margin-top: 6px;
    opacity: 0.9;
    font-size: 12px;
}
.follow{
    margin-left: 60%;
    border: 1px solid rgb(255, 70, 3);
    color: orangered;
    padding: 6px 12px 6px 12px;
    border-radius: 20px;
}
.station-release{
    padding-left: 13%;
    opacity: 0.8;
    font-size: 16px;
}
.entry-tag{
    padding-left: 13%;
    margin-top: 30px;
    display: flex;
}
.entry-tag li{
    border: 1px solid rgb(235, 231, 231);
    background: rgba(103, 132, 165, 0.1);
    padding: 4px 12px 4px 12px;
    border-radius: 5px;
}
.rank li strong {
    display: block;
    padding-left: 40%;
    margin-bottom: 8px;
}
.rank{
    display: flex;
    margin-top: 30px;
    margin-left: 13%;
}
.rank li{
    border: 1px solid rgb(235, 231, 231);
    width: 110px;
    height: 75px;
    margin-right: 30px ;
    padding: 12px 12px 8px 12px;
    border-radius: 5px;
    background: rgba(103, 132, 165, 0.1);
    align-items: center;
}
.relationship{
    width: 60%;
    margin: 10px auto 0 auto;
    display: flex;
}
.relationship li{
    width: 30%;
    height: 220px;
    margin-right: 30px;
    padding: 0;
    border-radius: 5px;
}
.relationship li img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 0.01rem solid white;
}
.comment{
    width: 60%;
    margin: 40px auto 30px auto;
    border-top: 1px solid rgba(130,140,150,.1);
}
.row{
    margin-top: 20px;
    width: 100%;
}
.row i{
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;
    background: rgba(103, 132, 165, 0.1);
}
.row span{
    opacity: 0.8;
    font-size: 14px;
}
.row textarea{
    background: rgba(193, 211, 231, 0.1);
    padding: 10px 5px 10px 8px;
    border-radius: 5px;
    width: 80%;
    height: 140px;
    margin-left: 5%;
    font-size: 14px;
}
.col{
    width: 25%;
    height: 100px;
    margin-right: 30px;
    display: inline-block;
}
.col label{
    opacity: 0.8;
}
.col input{
    background: rgba(193, 211, 231, 0.1) ;
    border: none;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 5px 5px 5px 10px;
}
.btn-comment{
    height: 40px ;
    background:rgba(193, 211, 231, 0.1) ;
    color: orangered;
    font-size: 16px;
    margin-left: 35%;
    padding: 8px 16px ;
    border-radius: 18px;
    border-color: orangered;
}